@font-face {
    font-family: '';
    src: url('./fonts/NotoSansHant-Black-Alphabetic.woff2') format('woff2'),
        url('./fonts/NotoSansHant-Black-Alphabetic.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('./fonts/NotoSansHant-Bold-Alphabetic.woff2') format('woff2'),
        url('./fonts/NotoSansHant-Bold-Alphabetic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('./fonts/NotoSansHant-DemiLight-Alphabetic.woff2') format('woff2'),
        url('./fonts/NotoSansHant-DemiLight-Alphabetic.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('./fonts/NotoSansHant-Light-Alphabetic.woff2') format('woff2'),
        url('./fonts/NotoSansHant-Light-Alphabetic.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('./fonts/NotoSansHant-Medium-Alphabetic.woff2') format('woff2'),
        url('./fonts/NotoSansHant-Medium-Alphabetic.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('./fonts/NotoSansHant-Regular-Alphabetic.woff2') format('woff2'),
        url('./fonts/NotoSansHant-Regular-Alphabetic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('./fonts/NotoSansHant-Thin-Alphabetic.woff2') format('woff2'),
        url('./fonts/NotoSansHant-Thin-Alphabetic.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gen Jyuu Gothic P';
    src: url('./fonts/GenJyuuGothic-P-ExtraLight.woff2') format('woff2'),
        url('./fonts/GenJyuuGothic-P-ExtraLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gen Jyuu Gothic P';
    src: url('./fonts/GenJyuuGothic-P-Bold.woff2') format('woff2'),
        url('./fonts/GenJyuuGothic-P-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gen Jyuu Gothic P';
    src: url('./fonts/GenJyuuGothic-P-Heavy.woff2') format('woff2'),
        url('./fonts/GenJyuuGothic-P-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gen Jyuu Gothic P';
    src: url('./fonts/GenJyuuGothic-P-Light.woff2') format('woff2'),
        url('./fonts/GenJyuuGothic-P-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gen Jyuu Gothic P Normal';
    src: url('./fonts/GenJyuuGothic-P-Normal.woff2') format('woff2'),
        url('./fonts/GenJyuuGothic-P-Normal.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gen Jyuu Gothic P';
    src: url('./fonts/GenJyuuGothic-P-Medium.woff2') format('woff2'),
        url('./fonts/GenJyuuGothic-P-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gen Jyuu Gothic P';
    src: url('./fonts/GenJyuuGothic-P-Regular.woff2') format('woff2'),
        url('./fonts/GenJyuuGothic-P-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Gen Jyuu Gothic P';
}
h1,h2,h3{
    letter-spacing: 1.5px;
    color: #4C2A47; 
    font-family: 'Gen Jyuu Gothic P';
}
.topic{
    font-weight: bold;
}
.topic span.bigger{
    font-size: 55px;
}
p, button, .gothic, a, span{
    letter-spacing: 1.5px;
    font-family: 'Gen Jyuu Gothic P';
}
p{
    color: #4C2A47; 
    font-size: 22px;
}
span.paragraph{
    display: block;
}
.deep-red{
    color: #DD4746;
}
.deep-red-2{
    color: #D94646;
}
.light-red{
    color: #e75151;
}
.deep-pink{
    color: #E61779;
}
.orange{
    color: #EC641B;
}
.deep-purple{
    color: #6D3541;
}
mark{
    color: #4C2A47;
}

.long-topic-circle{
    background: url(../img/arts_banks_title_long_bg.png) no-repeat; 
    padding-bottom: .85em; padding-right: 1.12em; padding-left: .5em;
    position: relative; left: 0; right: 0;
    margin-left: auto; margin-right: auto;
    top: -7.5px;
}
.short-topic-circle{
    background: url(../img/arts_banks_short_long_bg.png) no-repeat;
    padding-bottom: 1.1em; padding-right: 1.12em; padding-left: 0.5em;
    position: relative; left: 0; right: 0;
    margin-left: auto; margin-right: auto;
    top: -7.5px;
}
.eye-topic-frame{
    background: url(../img/arts_bank_eye_icon.png) no-repeat; 
    background-position: center;
    position: relative; left: 0; right: 0;
    margin-left: auto; margin-right: auto;
    padding-top: 5.5em; padding-bottom: 2em;
    padding-left: 4.5em; 
}

.long-topic-circle span{
    vertical-align: middle;
    position: relative; top: 3.65px;
}
.short-topic-circle span{
    vertical-align: middle;
    position: relative; 
    top: 6.5px; left: 8px;
}
.eye-topic-frame span{
    vertical-align: middle;
    position: relative; 
    left: -59px;
}

main{
    display: block;
}
main section{
    width: 100%; 
    position: relative;
}

button.to-top, button.to-bottom{
    width: 67px; height: 67px;
    border: none; border-radius: 100%;
    background: #FFF; color: #36357E;
    position: absolute; margin-left: auto;
    margin-right: auto; cursor: pointer;
    /*Inside-Alignment*/
    display: flex; justify-content: center;
    align-items: center;
}
button.to-top i, button.to-bottom i{
    font-size: 40px;
}
button.to-top span{
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    top: -10px; left: 1px; 
    letter-spacing: 1.5px;
}

img.original-bird{
    position: absolute; 
    left: 16em; top: 17em;
}
img.first-bird{
    position: absolute; 
    right: 16em; bottom: 10em;
}
img.second-bird{
    position: absolute; 
    left: 17em
}

/*Header*/
header .navbar{
    background: #FFF;
    padding-top: 0;
    padding-bottom: 0;
    height: 75px;
}
header .navbar-collapse{
    flex-grow: 0;
}
header .container-fluid{
    width: 80%;
}
header .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    align-items: center;
}

header .navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
}
header .navbar img.logo{
    width: 207px;
}

header .navbar-toggler{
    background: #36357E;
    border-radius: 100%;
    width: 50px; height: 50px;
    font-size: 0; position: relative;
}
header .navbar-toggler:focus {
    box-shadow: none;
}
header .navbar-toggler .navbar-toggler-icon {
    width: 25px; height: 3px;
    background: #FFF;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    /*Inside-Alignment*/
    display: flex; justify-content: center;
    align-items: center;
}
header .navbar-toggler .navbar-toggler-icon::before,
header .navbar-toggler .navbar-toggler-icon::after{
    content: ''; position: absolute; height: 3px; 
    background: #FFF; border-radius: 5px;
    transition: all .5s ease-in-out;
    transition-delay: .1s;
}
header .navbar-toggler .navbar-toggler-icon::before{
    width: 25px; transform: translateY(-9.5px);
}
header .navbar-toggler .navbar-toggler-icon::after{
    width: 14px; transform: translate(5px, 9.5px);
}

/* Navbar-Toggler-Icon-Animation */
header .navbar-toggler.open .navbar-toggler-icon{
    background: none; transition: all .2s ease;
}
header .navbar-toggler.open .navbar-toggler-icon::before{
    height: 4px; transform: rotate(-45deg);
}
header .navbar-toggler.open .navbar-toggler-icon::after{
    width: 25px; height: 4px;
    transform: rotate(45deg);
}

header .navbar .nav-item{
    background: #fad3d6;
    height: 23.5px; 
}
header .navbar a.nav-link{
    font-size: 22px; font-weight: 500;
    letter-spacing: 1px; cursor: pointer;
    position: relative; top: -5px;
    padding-top: 0; color: #6D3541;
}
header .navbar .nav-item:first-child a.nav-link{
    padding-right: 5em;
    padding-left: 0;
}
header .navbar .nav-item:nth-child(2) a.nav-link{
    padding-right: .4em;
}
header .navbar a.nav-link.active{
    color: #4C2A47 !important;
}
header .navbar a.nav-link.active::after{
    content: ''; display: block;
    height: 3px; position: relative;
    background: #4C2A47;
    border-radius: 50px;
    animation: underlineAnimation .3s ease-in;
    -webkit-animation: underlineAnimation .3s ease-in;
}
@keyframes underlineAnimation{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

header .navbar span.small-house-icon img{
    position: relative; 
    background: #4C2A47;
    border-radius: 100%;
    padding: .6em .6em;
    padding-left: .62em !important;
    margin-left: 1em;
}

/*Main - Section 1*/
main.section-1 #slide1{
    background-image: url('../img/arts_bank_wallpaper_1.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    height: 1388px;
}
main.section-1 #slide1 .contents{
    position: absolute; top: 40em; 
    width: 100%; z-index: 100;
}
main.section-1 #slide1 .top-topic{
    position: absolute; top: 8.5em; 
    left: 0; right: 17em; text-align: center;
    text-transform: uppercase;
}
main.section-1 #slide1 .car{
    position: absolute;
    right: 19em; top: 9em;
}
main.section-1 button.to-bottom{
    top: 28em; text-align: center;
    left: 0; right: 34em; 
}
main.section-1 .text-frame{
    width: 1100px; padding: 2.45em 0;
    background: #FFF; border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px, rgba(0, 0, 0, 0.1) 0px 2px 2px, 
                rgba(0, 0, 0, 0.1) 0px 4px 4px, rgba(0, 0, 0, 0.1) 0px 8px 8px, 
                rgba(0, 0, 0, 0.1) 0px 16px 16px;
}
main.section-1 .text-frame h1{
    color: #4C2A47;
    margin-bottom: .75em;
    font-size: 34px;
}
main.section-1 .text-frame h1 span.deep-red{
    padding: 0 5px;
}
main.section-1 .text-frame p{
    padding: 0 4.25em; 
    line-height: 32px;
    text-align: left;
    margin-bottom: 0;
}
main.section-1 .closing-details{
    margin-top: 4em;
}
main.section-1 .closing-details .each-detail{
    display: inline-block;
    margin: 0 3.25em;
}
main.section-1 .closing-details .topic{
    background: #7A3D48;
    padding: 15px 0;
    border-radius: 50px;
    margin-top: -0.75em;
    width: 320px;
}
main.section-1 .closing-details .topic h3{
    color: #FFF;
    font-size: 24px;
    letter-spacing: 1.5px;
    margin-bottom: 0; 
}
main.section-1 .closing-details p.date-and-time{
    font-size: 50px;
    font-weight: bold;
    color: #FFF;
    margin-top: 13px;
}
main.section-1 .closing-details p.date-and-time span.time{
    font-size: 22px;
    font-weight: 500;
    position: relative;
    left: 8px;
}

main.section-1 #slide2{
    background-image: url('../img/arts_bank_wallpaper_2.1.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    height: 1980px;
}
main.section-1 #slide2 .contents{
    position: relative;
    top: 6em;
}
main.section-1 #slide2 .vip-invition h2{
    margin-bottom: 0.55em;
}
main.section-1 #slide2 .vip-invition p{
    line-height: 1.5;
    margin-bottom: 0;
}
main.section-1 #slide2 .vip-invition mark,
main.section-1 #slide2 p.remind mark,
main.section-1 #slide2 .methods mark{
    background: none;
}
main.section-1 #slide2 .methods{
    margin-top: 4em;
}
main.section-1 #slide2 .methods .step{
    display: inline-block; vertical-align: top;
    background: #FFF; border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px, rgba(0, 0, 0, 0.1) 0px 2px 2px, 
                rgba(0, 0, 0, 0.1) 0px 4px 4px, rgba(0, 0, 0, 0.1) 0px 8px 8px, 
                rgba(0, 0, 0, 0.1) 0px 16px 16px;
    width: 260px; height: 365px; margin: 0 1.5em;
}
main.section-1 #slide2 .methods .step.large{
    width: 360px;
}
main.section-1 #slide2 .methods .carousel-cell.large{
    width: 259px;
}
main.section-1 #slide2 .methods .step::after{
    content: '\f054'; font-size: 40px;
    font-family: FontAwesome;
    color: #4C2A47;
    /*Alignment*/
    position: absolute;
    transform: translate(142px,-155px);
}
main.section-1 #slide2 .methods .step:nth-child(3):after{
    transform: translate(142px,-167px);
}
main.section-1 #slide2 .methods .step img,
main.section-1 #slide2 .methods .carousel-cell img{
    display: block; margin: auto;
    width: 63px;
}
main.section-1 #slide2 .methods .step.large img,
main.section-1 #slide2 .methods .carousel-cell.large img{
    width: 77px;
} 
main.section-1 #slide2 .methods .step.large::after{
    content: none;
}
main.section-1 #slide2 .methods .step h3,
main.section-1 #slide2 .methods .carousel-cell h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
main.section-1 #slide2 .methods .step .item,
main.section-1 #slide2 .methods .step.large .item,
main.section-1 #slide2 .methods .carousel-cell .item{
    margin-top: 3em;
}
main.section-1 #slide2 .methods .step .item p,
main.section-1 #slide2 .methods .carousel-cell p{
    line-height: 1;
}
main.section-1 #slide2 .methods .step.large a,
main.section-1 #slide2 .methods .carousel-cell.large a{
    font-size: 18px;
    position: relative; top: -0.5em;
}
main.section-1 #slide2 .methods .carousel-cell.large a{
    font-size: 15px;
    position: relative; top: -0.75em;
}
main.section-1 #slide2 .methods .step span.number{
    color: #FFF;
    font-size: 30px;
    width: 50px; height: 50px;
    border-radius: 100%;
    position: absolute;
    transform: translate(-24px, -25px);
}
main.section-1 #slide2 .methods .carousel-cell span.number{
    color: #FFF;
    font-size: 30px;
    width: 50px; height: 50px;
    border-radius: 100%;
    position: absolute;
    top: -0.82em;
    margin-left: auto;
    margin-right: auto;
    left: 0; right: 0;
}
main.section-1 #slide2 .methods .step span.number span,
main.section-1 #slide2 .methods .carousel-cell span.number span{
    position: relative; top: 3px;
}
main.section-1 #slide2 .methods .step:nth-child(3) span.number span,
main.section-1 #slide2 .methods .carousel-cell:nth-child(3) span.number span{
    left: 1px;
}
main.section-1 #slide2 .methods .step:nth-child(1) span.number,
main.section-1 #slide2 .methods .step:nth-child(2) span.number,
main.section-1 #slide2 .methods .carousel-cell:nth-child(1) span.number,
main.section-1 #slide2 .methods .carousel-cell:nth-child(2) span.number{
    background: #E61779;
}
main.section-1 #slide2 .methods .step:nth-child(3) span.number,
main.section-1 #slide2 .methods .step:nth-child(4) span.number,
main.section-1 #slide2 .methods .carousel-cell:nth-child(3) span.number,
main.section-1 #slide2 .methods .carousel-cell:nth-child(4) span.number{
    background: #EC641B;
}
main.section-1 #slide2 .methods .step:nth-child(1) p,
main.section-1 #slide2 .methods .step:nth-child(2) p,
main.section-1 #slide2 .methods .step:nth-child(3) .paragraphes{
    margin-top: 3.5em;
}

main.section-1 #slide2 .remind{
    font-size: 18px;
}
main.section-1 #slide2 p.remind{
    margin-top: 30px;
}
main.section-1 #slide2 .reward{
    width: 640px; margin: auto; margin-top: 27px; 
    outline: none; border: none; color: #FFF; 
    border-radius: 50px; padding: .8em 0; 
    background: linear-gradient(45deg, #E61779, #EC641B);
}
main.section-1 #slide2 a.getReward{
    font-size: 27px;
    text-decoration: none; 
}
main.section-1 #slide2 .reward.icons-1::before{
    content: url(../img/arts_bank_finger_icon.svg);
    width: 65px; position: absolute;
    margin-left: -2.8em; margin-top: -5px;
}
main.section-1 #slide2 .reward.icons-1::after{
    content: url(../img/arts_bank_physical_money_icon.svg);
    width: 80px; position: absolute; 
    margin-left: 1.5em; margin-top: 1.25em;
}

main.section-1 #slide2 .cultural-coin{
    width: 1200px; margin: auto;
    margin-top: 9em;
}
main.section-1 #slide2 .cultural-coin .section-1{
    float: right; 
}
main.section-1 #slide2 .cultural-coin .section-1 .frame{
    background: url(../img/arts_bank_frame_3.png);
    width: 310px; height: 100px; 
    display: inline-flex; justify-content: center;
    align-items: center; 
    position: relative; top: 9px;
}
main.section-1 #slide2 .cultural-coin .section-1 .frame h2{
    position: relative; top: -2.5px;
}
main.section-1 #slide2 .cultural-coin .section-1 > *,
main.section-1 #slide2 .cultural-coin .section-2 > *{
    display: inline-block;
}

main.section-1 #slide2 .cultural-coin .section-2{
    padding-top: 7em;
}
main.section-1 #slide2 .cultural-coin .section-2 > *{
    vertical-align: top;
}
main.section-1 #slide2 .cultural-coin .section-2 .frame{
    background: url(../img/arts_bank_frame_1.png);
    width: 940px; height: 275px; 
    text-align: left;
}
main.section-1 #slide2 .cultural-coin .section-2 .frame p{
    margin: 0 3.5em;
}
main.section-1 #slide2 .cultural-coin .section-2 .frame p.main-content{
    position: relative; top: 1.7em; 
    line-height: 1.5; 
}
main.section-1 #slide2 .cultural-coin .section-2 .frame .remind{
    margin-top: 2.6em !important;
    margin: 0 .75em;
}
main.section-1 #slide2 .cultural-coin .section-2 .frame .remind p{
    font-size: 18px; 
    line-height: 1.5;
}
main.section-1 #slide2 .cultural-coin .section-2 .frame mark{
    background: #fad3d6; padding: 0; 
}
main.section-1 #slide2 .cultural-coin .section-2 .frame img.money-icon{
    width: 84px; position: relative; float: right;
    left: -4.7em; top: -3.75em;
}
main.section-1 #slide2 footer .reward{
    width: 545px; margin-top: 18px;
}
main.section-1 #slide2 footer article{
    margin-top: 5em;
}
main.section-1 #slide2 footer article mark,
main.section-2 #slide2 footer article mark{
    background: none;
}
main.section-1 #slide2 footer article p{
    line-height: .85;
    font-size: 28px;
}
main.section-1 button.to-top{
    text-align: center;
    left: 0; right: 0; 
    margin-top: 7em;
}
main.section-1 button.to-top i{
    position: relative;
    top: 4.65px;
}

/*Main - Section 2*/
main.section-2 #slide1{
    background-image: url('../img/arts_bank_wallpaper_1.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    height: 1388px;
}
main.section-2 #slide1 .top-topic{
    position: absolute; top: 8.5em; 
    left: 0; right: 17em; text-align: center;
    text-transform: uppercase;
}
main.section-2 #slide1 .car{
    position: absolute;
    right: 19em; top: 9em;
}
main.section-2 button.to-bottom{
    top: 28em; text-align: center;
    left: 0; right: 34em; 
}
main.section-2 #slide1 .contents {
    position: absolute;
    top: 40em;
    width: 100%;
}
main.section-2 .text-frame{
    width: 1100px; padding: 2.45em 0;
    background: #FFF; border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px, rgba(0, 0, 0, 0.1) 0px 2px 2px, 
                rgba(0, 0, 0, 0.1) 0px 4px 4px, rgba(0, 0, 0, 0.1) 0px 8px 8px, 
                rgba(0, 0, 0, 0.1) 0px 16px 16px;
}
main.section-2 .text-frame h1{
    color: #4C2A47;
    margin-bottom: .75em;
    font-size: 34px;
}
main.section-2 .text-frame p{
    padding: 0 4.25em; 
    line-height: 32px;
    text-align: left;
    margin-bottom: 0;
}

main.section-2 #slide2{
    background-image: url('../img/arts_bank_wallpaper_2.2.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    height: 1980px;
}
main.section-2 .strength{
    margin-top: 6em;
}
main.section-2 .strength h2{
    color: #FFF;
    margin-bottom: 2em;
}
main.section-2 .strength h2 span.paragraph{
    display: inline;
}
main.section-2 .strength .school-info{
    margin-top: 3em;
}
main.section-2 .strength .school-info .each-info{
    display: inline-block;
    width: 350px;
}
main.section-2 .strength .school-info .amount{
    color: #EBDA6E;
    font-size: 25px;
    margin-bottom: 0em;
}
main.section-2 .strength .school-info .amount span{
    font-size: 65px;
}
main.section-2 .strength .school-info p.target{
    font-size: 25px;
    color: #FFF;
}

main.section-2 #slide2 .contents{
    position: relative;
    top: 6em;
}
main.section-2 .origin-of-love .inside-contents > *{
    display: inline-block; 
    vertical-align: middle;
    margin: 0 1.9em;
}
main.section-2 .origin-of-love .video-cover img{
    margin-top: 1.3em;
}
main.section-2 .origin-of-love .inside-contents article{
    width: 500px; text-align: left;
}
main.section-2 .origin-of-love .inside-contents article h3{
    margin-top: 2.2em; 
}
main.section-2 .origin-of-love .inside-contents article p{
    padding: 0 .85em;
    margin-top: 2.25em;
    line-height: 1.5;
}

main.section-2 .activity-memories{
    margin-top: 12em;
}

main.section-2 #slide2 footer{
    width: 1050px; margin-top: 19em; 
    margin-left: auto; margin-right: auto;
}
main.section-2 #slide2 footer h2{
    position: relative; top: -2em;
}
main.section-2 #slide2 footer h2 .long-topic-circle span{
    left: 8.25px;
}
main.section-2 #slide2 footer .contents{
    top: 1em;
}
main.section-2 #slide2 footer .contents > *{
    display: inline-block;
}
main.section-2 #slide2 footer article{
    width: 530px; margin-top: 2em;
}
main.section-2 #slide2 footer img{
    float: right; margin-top: -3em;
}
main.section-2 #slide2 footer mark{
    background: #fad3d6; padding: 0; 
}

main.section-2 button.to-top{
    text-align: center;
    left: 0; right: 0; 
    margin-top: 7em;
}
main.section-2 button.to-top i{
    position: relative;
    top: 4.65px;
}

footer#sole-footer .navigation{
    text-align: center;
}
footer#sole-footer .navigation .item{
    display: inline-block; height: 26px;
    border-right: 2px solid #7B3D48;
    margin: 1.8em 0; padding: 0 2.35em;
}
footer#sole-footer .navigation .item:nth-last-child(1){
    border-right: none;
}
footer#sole-footer .navigation .item a{
    color: #7B3D48; text-decoration: none;
    font-size: 25px; position: relative; top: -5.25px;
    letter-spacing: 1px;
}

/*RWD*/
@media only screen and (max-width: 400px){

    main.section-1 #slide2 footer article{
        margin-top: 3em;
    }
    button.to-top{
        margin-top: 2em !important;
    }

    img.first-bird{
        bottom: 5.5em;
    }

    main.section-1 #slide1 .car,
    main.section-2 #slide1 .car{
        top: 22em;
    }
    main.section-1 button.to-bottom,
    main.section-2 button.to-bottom{
        top: 34em;
    }

    main.section-1 #slide1,
    main.section-2 #slide1{
        background-size: contain;
        height: 1618px;
    }
    main.section-1 #slide1 .contents,
    main.section-2 #slide1 .contents{
        top: 38.5em;
    }

    main.section-1 #slide2,
    main.section-2 #slide2{
        background-size: contain;
    }
    main.section-1 #slide2{
        height: 2010px;
    }
    main.section-2 #slide2{
        height: 2070px;
    }
    main.section-2 .strength h2{
        margin-bottom: .5em;
        padding: 0 .5em;
        font-size: 20px !important;
    }
    main.section-2 .strength .school-info{
        margin-top: 0;
    }
    main.section-2 .strength .school-info .each-info{
        margin-top: 2em !important; 
        margin-bottom: 0 !important;
    }

    main.section-2 #slide2 .contents{
        top: 3.25em !important;
    }
    main.section-2 .activity-memories{
        margin-top: 20em !important;
    }
    main.section-2 .activity-memories .marquee{
        margin-top: 6.8em;
    }
    main.section-2 #slide2 footer{
        margin-top: 10em !important;
    }
    main.section-2 #slide2 footer .contents{
        top: 0 !important;
    }

}

@media only screen and (min-width: 401px) and (max-width: 500px){
   
    img.car{
        top: 22em !important;
    }
    main.section-1 button.to-bottom, 
    main.section-2 button.to-bottom{
        top: 42.5em;
    }
    main.section-1 button.to-bottom, 
    main.section-2 button.to-bottom{
        top: 35.5em;
    }
    main.section-1 #slide1, main.section-2 #slide1{
        height: 1700px;
    }
    main.section-1 #slide2{
        height: 2200px;
    }
    main.section-2 #slide2{
        height: 2550px;
    }
    main.section-2 #slide2 .contents{
        top: 10em;
    }
    main.section-2 .origin-of-love .inside-contents .video-cover{
        top: 18% !important;
    }
    main.section-2 .activity-memories{
        margin-top: 28em;
    }
    main.section-2 .activity-memories .marquee{
        margin-top: 10em;
    }
    main.section-2 #slide2 footer{
        margin-top: 17em;
    }

}

@media only screen and (min-width: 501px) and (max-width: 550px){
   
    img.original-bird{
        top: 27.5em;
    }
    img.car{
        top: 25.5em !important;
    }
    main.section-1 button.to-bottom, 
    main.section-2 button.to-bottom{
        top: 42.5em;
    }
    main.section-1 #slide1, main.section-2 #slide1{
        height: 1650px;
    }
    main.section-1 #slide2{
        height: 2000px;
    }
    main.section-2 #slide2{
        height: 2700px;
    }
    main.section-1 #slide1 .contents,
    main.section-2 #slide1 .contents{
        top: 48.5em;
    }
    main.section-2 .origin-of-love .inside-contents .video-cover{
        top: 18% !important;
    }
    main.section-2 .activity-memories{
        margin-top: 38em;
    }
    main.section-2 .activity-memories .marquee{
        margin-top: 9em;
    }
    main.section-2 #slide2 footer{
        margin-top: 25em;
    }

}

@media only screen and (min-width: 551px) and (max-width: 930px){

    main.section-1 #slide1 .car,
    main.section-2 #slide1 .car{
        top: 27em; 
    }
    main.section-1 button.to-bottom,
    main.section-2 button.to-bottom{
        top: 44em;
    }
    main.section-1 #slide1, 
    main.section-2 #slide1{
        background-position: 80%;
    }
    main.section-1 #slide1,
    main.section-2 #slide1{
        height: 1600px;
    }
    main.section-1 #slide1 .contents,
    main.section-2 #slide1 .contents{
        top: 48em;
    }
    main.section-1 #slide2,
    main.section-2 #slide2{
        background-position: 20%;
    }
    main.section-1 #slide2,
    main.section-2 #slide2{
        height: 2250px;
    }
    main.section-2 #slide2{
        height: 2400px;
    }
    main.section-2 .activity-memories {
        margin-top: 33em;
    }
    main.section-2 #slide2 footer{
        margin-top: 21em;
    }

}

@media only screen and (min-width: 413px) and (max-width: 1600px) {

    img.first-bird{
        display: none;
    }

}

@media only screen and (max-width: 550px){

    img.car{
        width: 80% !important;
        right: 0 !important;
    }
    .eye-topic-frame span{
        left: 2.25px;
        top: -0.7em;
    }
    .topic span.bigger{
        font-size: 40px !important;
    }
    main.section-1 #slide1,
    main.section-2 #slide1{
        background-image: url(../img/arts_bank_mobile_wallppaper_1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    main.section-1 #slide1 h1 span.paragraph{
        display: inline;
    }

    main.section-1 #slide2{
        background-image: url(../img/arts_bank_mobile_wallppaper_2.1.jpg);
        background-repeat: repeat-y;
        background-size: cover;
    }

    main.section-2 #slide2{
        background-image: url(../img/arts_bank_mobile_wallppaper_2.2.jpg);
        background-repeat: repeat-y;
        background-size: cover;
    }

    img.first-bird{
        width: 50px;
        right: 3em;
        bottom: 5.5em;
    }

    main.section-1 #slide2 .methods .step{
        display: none;
    }

    main.section-2 .origin-of-love .inside-contents article,
    main.section-2 #slide2 footer article{
        padding: 0 1em; 
        margin-top: 0;
        width: 100%;
    }

}

@media only screen and (min-width: 551px) and (max-width: 1150px){

    main.section-2 #slide2 footer article{
        margin-left: auto;
        margin-right: auto;
        display: block !important;
    }

}

@media only screen and (min-width:578px) and (max-width: 1150px){

    main.section-2 .origin-of-love .inside-contents article h2 {
        margin-top: 0;
    }

}

@media only screen and (min-width:551px) and (max-width: 600px){

    .topic span.bigger{
        font-size: 45px;
    }

}

@media only screen and (max-width: 580px){

    footer#sole-footer .navigation .item {
        padding: 0 1.25em; margin: 1.2em 0;
        height: 15px; margin-bottom: 2em !important;
    }
    footer#sole-footer .navigation .item a{
        font-size: 15px; 
    }

}

@media only screen and (min-width: 830px) and (max-width: 930px){

    main.section-1 #slide1 .car, 
    main.section-2 #slide1 .car{
        top: 22em !important;
    }
    main.section-2 #slide1{
        height: 1600px !important;
    }

}

@media only screen and (max-width: 685px){

    main.section-1 #slide2 .carousel {
        display: block;
    }
    main.section-1 #slide2 .methods .step{
        display: none;
    }
    main.section-1 #slide2 .methods{
        margin-top: 2em;
    }
    main.section-1 #slide2 .methods .carousel-cell p{
        font-size: 15px;
    }

    main.section-2 .origin-of-love .inside-contents article p {
        padding: 0 0.85em;
        margin-top: .75em;
        line-height: 1.5;
    }
    main.section-2 .origin-of-love .inside-contents article h2{
        margin-top: 0;
    }
    main.section-2 .origin-of-love .inside-contents .video-cover{
        position: absolute;
        top: 22%; left: 0; right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
}

@media only screen and (min-width: 600px) and (max-width: 930px) {

    img.car{
        top: 23em !important;
    }
    main.section-1 #slide2 .methods .step h3{
        margin-top: 15px;
        font-size: 23px;
    }
    main.section-1 #slide2 .methods .step .item p,
    main.section-1 #slide2 .methods .step .item a{
        font-size: 15px;
    }
    main.section-1 #slide2 .methods .step .item {
        height: 100px;
    }
    main.section-1 #slide2 .methods .step.large .item {
        height: auto;
    }
    main.section-1 #slide2 .methods .step::after {
        transform: translate(140px,-42px);
    }
    main.section-1 #slide2 .methods .step:nth-child(3):after {
        transform: translate(140px,-39px);
    }
    
}

@media only screen and (min-width: 600px) and (max-width: 1250px){
    
    main.section-1 #slide2 .methods .step {
        margin: 1.7em 1.7em;
        height: 300px;
    }
    main.section-1 #slide2 .vip-invition .remind{
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 1em; margin-bottom: 1em;
        width: 570px; 
    }

}

@media only screen and (min-width: 551px) and (max-width: 674px){

    .eye-topic-frame span{
        left: 2.25px;
        top: -0.8em;
    }

}

@media only screen and (min-width: 675px) and (max-width: 749px){

    .eye-topic-frame span{
        left: 2.25px;
        top: -1.15em;
    }

}

@media only screen and (min-width: 686px) and (max-width: 749px){

    main.section-1 #slide2 .methods .step::after{
        transform: translate(127px,-42px) !important;
    }
    main.section-1 #slide2 .methods .step:nth-child(3):after{
        transform: translate(127px,-39px) !important;
    }

}

@media only screen and (min-width: 750px) and (max-width: 930px){
    
    main.section-1 #slide2 .methods .step {
        width: 250px !important;
    }
    main.section-1 #slide2 .methods .step.large {
        width: 350px !important;
    }
    .eye-topic-frame span{
        left: 2.25px;
        top: -1.35em;
        font-size: 24px;
    }

}

@media only screen and (max-width: 930px){
    
    img.car{
        position: absolute; left: 0; right: 0;
        margin-left: auto; margin-right: auto;
    }

}

@media only screen and (min-width: 931px) and (max-width: 1250px){
    
    main.section-1 #slide2,
    main.section-2 #slide2{
        height: 2200px; 
    }
    main.section-1 #slide2 .methods{
        margin: 1em 0em;
    }
    main.section-1 #slide2 .methods .step::after {
        transform: translate(193px,-45px);
    }
    main.section-1 #slide2 .methods .step:nth-child(3):after {
        transform: translate(193px,-43px);
    }
    main.section-1 #slide2 .methods .step h3{
        margin-top: 10px;
        font-size: 25px;
    }
    main.section-1 #slide2 .methods .step .item p,
    main.section-1 #slide2 .methods .step .item a{
        font-size: 20px;
    }
    main.section-1 #slide2 .methods .step .item {
        height: 100px;
    }
    main.section-1 #slide2 .methods .step.large .item {
        height: auto;
    }

}

@media only screen and (min-width: 931px) and (max-width: 1250px){
    
    main.section-1 #slide2 .methods .step {
        width: 350px !important;
    }
    main.section-1 #slide2 .methods .step.large {
        width: 450px !important;
    }

}

@media only screen and (min-width: 1225px) and (max-width: 1365px){
    
    main.section-1 #slide2 .methods .step {
        width: 200px !important;
    }
    main.section-1 #slide2 .methods .step.large {
        width: 300px !important;
    }
    main.section-1 #slide2 .methods .step::after{
        transform: translate(113px,-155px);
    }
    main.section-1 #slide2 .methods .step:nth-child(2)::after{
        transform: translate(113px,-173px);
    }
    main.section-1 #slide2 .methods .step:nth-child(3):after {
        transform: translate(113.5px,-187px);
    }
    

}

@media only screen and (min-width: 931px) and (max-width: 1660px){

    main.section-1 #slide2,
    main.section-2 #slide2{
        background-position: 33%;
    }
    main.section-1 #slide1 .top-topic, 
    main.section-2 #slide1 .top-topic{
        top: 7em !important;
    }
    img.car{
        width: 750px !important;
        right: 0 !important;
    }
    
}

@media only screen and (max-width: 990px){

    header .navbar{
        padding-bottom: 0 !important;
    }
    header .navbar-nav{
        flex-direction: column !important;
        margin-top: 2.25em;
    }
    header .navbar img.logo{
        margin-top: -0.2em;
    }
    header nav .container-fluid{
        width: 100%; 
        background: #FFF;
    }
    header .navbar .nav-item{
        background: #FFF;
        height: 50px; margin: .5em 0;
    }
    header .navbar .nav-item a.nav-link{
        width: 203px;
        text-align: center;
    }
    header .navbar .nav-item:first-child a.nav-link {
        padding-right: 0;
        padding-left: 0; 
    }
    header .navbar span.small-house-icon img{
        display: none;
    }

    main.section-1 #slide2 .vip-invition mark,
    main.section-1 #slide2 p.remind mark,
    main.section-1 #slide2 footer article mark,
    main.section-1 #slide2 .methods mark{
        background: #fad3d6; padding: 0; 
    }
    main.section-1 #slide2 .methods mark{
        line-height: 1.6; 
    }

}

@media only screen and (max-width: 1100px){

    main.section-1 .closing-details .each-detail,
    main.section-2 .strength .school-info .each-info{
        display: block; margin: auto;
    }
    main.section-2 .strength .school-info .amount span{
        font-size: 75px; letter-spacing: 5.5px;
    }
    main.section-2 .strength .school-info p.target{
        font-size: 22px; 
    }
    
}

@media only screen and (min-width: 931px) and (max-width: 1150px){

    .eye-topic-frame span{
        left: 2.25px;
        top: -1.75em;
        font-size: 24px;
    }
    button.to-bottom{
        top: 36.25em !important;
    }
    main.section-1 #slide1 .top-topic, 
    main.section-2 #slide1 .top-topic{
        left: -15em !important;
    }
    main.section-2 .activity-memories{
        margin-top: 18em;
    }

}

@media only screen and (max-width: 1150px){

    p{
        letter-spacing: 1px !important;
    }
    h1, h2{
        font-size: 25px !important;
    }
    button.to-top, button.to-bottom{
        position: absolute; left: 0; right: 0;
        margin-left: auto; margin-right: auto;
        width: 50px; height: 50px;
    }
    button.to-bottom i, button.to-top i{
        font-size: 28px;
    }
    button.to-top span{
        font-size: 13px; 
        left: 1.1px;
    }

    .long-topic-circle {
        width: 325px;
        display: block;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1.5em;
        top: 7.5px;
    }
    .long-topic-circle span{
        vertical-align: middle;
        position: relative;
        top: 13px;
    }
    .short-topic-circle span{
        vertical-align: middle;
        position: relative;
        top: 15px; left: 0;
    }
    .short-topic-circle {
        width: 185px;
        display: block;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1.5em;
        top: 8.2px;
    }
    .eye-topic-frame {
        background: url(../img/arts_bank_eye_icon_mobile.png) no-repeat;
        background-position: none;
        display: block; width: 352px;
        padding-left: 0; padding-bottom: .75em;
    }

    img.original-bird{
        width: 50px;
        left: 2em; top: 21em;
    }
    img.second-bird{
        display: none;
    }
    main.section-1 #slide1 .top-topic,
    main.section-2 #slide1 .top-topic{
        position: absolute; left: 0; right: 0;
        margin-left: auto; margin-right: auto;
    }
    main.section-1 #slide1 .car,
    main.section-2 #slide1 .car{
        width: 500px;
        right: 2em;
    }
    main.section-1 .text-frame,
    main.section-2 .text-frame{
        width: 90%; padding: 2em 0;
    }
    main.section-1 button.to-bottom,
    main.section-2 button.to-bottom{
        position: absolute; left: 0; right: 0;
        margin-left: auto; margin-right: auto;
    }
    main.section-1 #slide1 h1,
    main.section-2 #slide1 .text-frame h2{
        padding: 0 .6em;
    }
    main.section-1 .text-frame h1 span.deep-red{
        padding: 0 2.5px;
    }
    main.section-1 .text-frame p,
    main.section-2 .text-frame p {
        padding: 1em 1.25em;
        line-height: 23px;
        text-align: left;
        margin-bottom: 0;
        font-size: 15px;
    }
    main.section-1 .closing-details,
    main.section-2 .strength{
        margin-top: 2.25em;
    }
    main.section-1 .closing-details .each-detail img{
        width: 115px;
    }
    main.section-1 .closing-details .each-detail{
        margin: 2.5em 1em;
    }
    main.section-1 .closing-details .topic{
        width: 255px; margin: auto;
        padding: 10px 0; margin-top: -8px;
    }
    main.section-1 .closing-details .topic h3{
        font-size: 20px; margin-top: 5px;
    }
    main.section-1 .closing-details p.date-and-time {
        font-size: 35px;
        margin-top: 5px;
    }
    main.section-1 .closing-details p.date-and-time span.time{
        font-size: 20px;
    }

    main.section-1 #slide2 .contents {
        position: relative;
        top: 4.25em;
    }
    main.section-1 #slide2 .vip-invition h2{
        line-height: 35px;
        margin-bottom: .75em;
    }
    main.section-1 #slide2 .vip-invition p{
        font-size: 15px; display: inline;
        padding: 0;
    }
    main.section-1 #slide2 .remind{
        font-size: 15px;
    }
    main.section-1 #slide2 .vip-invition .remind,
    main.section-1 #slide2 .remind{
        margin: 1em .9em;
    }

    main.section-1 #slide2 .reward{
        width: 327px;
        font-size: 18px;
        padding: .7em 0;
    }
    main.section-1 #slide2 .reward span{
        display: block;
    }
    main.section-1 #slide2 .reward.icons-1::before {
        margin-left: -8em; margin-top: 0;
    }
    main.section-1 #slide2 .reward.icons-1::after {
        width: 55px;
        margin-top: -0.55em;
        margin-left: 5em;
    }

    main.section-2 .strength h2{
        margin-bottom: .75em;
    }
    main.section-2 .origin-of-love .inside-contents .video-cover {
        position: absolute;
        top: 20.5%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    main.section-1 #slide2 .cultural-coin{
        width: 100%; margin-top: 5.5em;
    }    
    main.section-1 #slide2 .cultural-coin .section-1 img, 
    main.section-1 #slide2 .cultural-coin .section-2 img{
        top: 0 !important;
    }
    main.section-1 #slide2 .cultural-coin .section-1 img{
        margin-right: 1.5em;
    }
    main.section-1 #slide2 .cultural-coin .section-1 .frame {
        background: url(../img/arts_bank_text_frame_mobile_1.png);
        width: 200px; height: 70px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 2.5px;
    }
    main.section-1 #slide2 .cultural-coin .section-2 .frame {
        background: url(../img/arts_bank_text_frame_mobile_2.png);
        width: 275px; height: 410px;
    }
    main.section-1 #slide2 .cultural-coin .section-1 .frame h2{
        font-size: 21px !important; top: -1px; letter-spacing: .5px;
    }
    main.section-1 #slide2 .cultural-coin .section-2 .frame mark{
        background: none;
    }
    main.section-1 #slide2 .cultural-coin .section-2 .frame p.main-content{
        font-size: 14.5px; 
    }
    main.section-1 #slide2 .cultural-coin .section-2 .frame .remind p{
        font-size: 13px;
    }
    main.section-1 #slide2 .cultural-coin .section-2 .frame img.money-icon {
        width: 63px; left: -1em; 
    }

    main.section-1 #slide2 footer .reward{
        width: 327px; height: 65px;
    }
    main.section-1 #slide2 footer article{
        margin-left: 1em; margin-right: 1em;
    }
    main.section-1 #slide2 footer article p{
        font-size: 17px; line-height: 1.75;
        margin-bottom: 0;
    }
    main.section-2 #slide2 footer article p{
        font-size: 17px; line-height: 1.4;
        margin-bottom: 0;
    }

    main.section-2 .origin-of-love .inside-contents > *{
        margin: 0 0; padding: 0 1em;
    }
    main.section-2 .origin-of-love .video-cover img{
        width: 340px;
    }
    main.section-2 .origin-of-love .inside-contents article h3{
        margin-top: 0;
    }
    main.section-2 .origin-of-love .inside-contents article p{
        font-size: 15px;
    }
    main.section-2 #slide2 footer img{
        width: 304px; float: none;
        margin: auto; display: block !important;
    }

    footer#sole-footer .navigation .item{
        border-right: 1px solid #7B3D48;
    }

}

@media only screen and (min-width: 1151px) and (max-width: 1250px){

    main.section-1 button.to-top{
        margin-top: 5em;
    }
    main.section-2 .origin-of-love{
        top: 2.5em;
        position: relative;
    }
    main.section-2 .origin-of-love .inside-contents{
        margin-top: 3em;
    }
    main.section-2 .origin-of-love .video-cover img{
        width: 350px;
    }
    main.section-2 .activity-memories{
        margin-top: 18em;
    }
    main.section-2 #slide2 footer{
        padding: 0 2em;
        margin-top: 17.55em;
    }
    main.section-2 #slide2 footer img{
        display: inline-block !important;
        margin-top: 0;
    }

}

@media only screen and (max-width: 1250px){
    
    main.section-2 #slide2 footer{
        width: 100%; margin-left: auto; margin-right: auto;
    }
    main.section-2 #slide2 footer h2{
        top: 0;
    }
    main.section-2 #slide2 footer article p{
        margin: 1.4em 0;
    }

}