/*Carousel*/
.carousel {
  display: none;
}
.carousel-cell {
  width: 190px; height: 297px;
  background: #FFF; margin-right: 30px;
  border-radius: 40px; opacity: .5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px, rgba(0, 0, 0, 0.1) 0px 2px 2px, 
                rgba(0, 0, 0, 0.1) 0px 4px 4px, rgba(0, 0, 0, 0.1) 0px 8px 8px, 
                rgba(0, 0, 0, 0.1) 0px 16px 16px;
}
.carousel-cell.is-selected {
  opacity: 1;
}
.flickity-enabled.is-draggable .flickity-viewport {
  height: 355px !important; padding-top: 2em
}
.flickity-page-dots {
  position: static !important;
  margin-top: -2.5em; margin-bottom: 2em !important; 
}
.flickity-button {
  background: none !important;
  color: #4C2A47 !important;
}
.flickity-button:disabled{
  opacity: 1 !important; 
  color: #8E8E8E !important;
}
.flickity-prev-next-button{
  width: 55px !important;
  height: 55px !important;
}
.flickity-prev-next-button .flickity-button-icon {
  top: 70% !important;
}
.flickity-page-dots .dot{
  background: #ED6A21 !important;
}
.flickity-page-dots .dot.is-selected{
  background: #4C2A47 !important;
}

/*Marquee Animation*/
.marquee {
  width: 100%; height: 350px;
  display: flex; margin-top: 3em;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
.marquee-content {
  display: flex; 
  -webkit-animation: marquee 35s linear infinite running;
  -moz-animation: marquee 35s linear infinite running;
  -o-animation: marquee 35s linear infinite running;
  -ms-animation: marquee 35s linear infinite running;
  animation: marquee 35s linear infinite running;
}
.marquee-content:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
.marquee-image{
  width: inherit;
  margin: 0 1em;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.marquee-image:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  margin: 0 2em;
}
.marquee-image img{
  width: 300px;
}
@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-100%);
    -moz-transform: translate(-100%);
    -o-transform: translate(-100%);
    -ms-transform: translate(-100%);
    transform: translate(-100%);
  }
}

@media only screen and (max-width: 750px){

  .marquee-image img{
    width: 280px;
  }
  
}